<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%- title %></title>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/vendor/fontawesome-free/css/v4-shims.min.css">
    <link rel="stylesheet" href="/css/main.min.css">
    <link rel="stylesheet" href="/css/jquery-ui.css">
    <link rel="stylesheet" href="/css/jquery-confirm.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    
</head>
<body class="<% if(loginPage) { %> login-page <% }else{ %> sidebar-mini sidebar-collapse <% } %>">
  <div class="wrapper">
    <%- include('../partials/adminHeader')-%>
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <% if (messages) { %>
                    <%- messages -%>
                <% } %>
                <div class="row mb-2">
                    <div class="col-sm-6">
                        Meeting
                    </div>
                    <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item active"><a href="">Meeting</a></li>
                    </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
          <div class="container-fluid">
            <div class="row mt-4">
                <div class="col-md-4 col-12">
                    <div class="d-flex">
                        <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#createMeeting">
                            <span class="fa fa-fw fa-calendar-plus"></span>
                            Create Meeting
                        </button>
                    </div>
                    <div class="clearfix mt-2">
                        <ul class="nav nav-tabs text-center" id="meeting-card-tab" role="tablist">
                            <li class="nav-item col-4">
                              <a class="nav-link active" id="rooms-tab" data-toggle="pill" href="#rooms" role="tab" aria-controls="rooms" aria-selected="true">Rooms</a>
                              <div class="row activeTab"></div>
                            </li>
                            <li class="nav-item col-4">
                              <a class="nav-link" id="upcoming-tab" data-toggle="pill" href="#upcoming" role="tab" aria-controls="upcoming" aria-selected="false">Upcoming</a>
                              <div class="row activeTab"></div>
                            </li>
                            <li class="nav-item col-4">
                              <a class="nav-link" id="history-tab" data-toggle="pill" href="#history" role="tab" aria-controls="history" aria-selected="false">History</a>
                              <div class="row activeTab"></div>
                            </li>
                        </ul>
                        <div class="tab-content mt-1">
                            <div class="tab-pane fade show active" id="rooms" role="tabpanel" aria-labelledby="rooms-tab">
                               <ul class="list-unstyled tab-scroll">
                                   <li class="meeting-card active">
                                       <div class="d-flex">
                                            <div class="d-inline mt-2 mr-3">
                                                <span class="fa fa-calendar-day text-black font26"></span>
                                            </div>
                                            <div class="d-inline fW">
                                                <div class="meeting-card-title d-block">Metting</div>
                                                <div class="meeting-card-desc">Start an instant meeting in seconds</div>
                                            </div>
                                        </div>
                                    </li>
                                    <% data.rooms.forEach((list, index) => {%>
                                    <li class="meeting-card" data-id="<%=list.id%>">
                                        <div class="d-flex">
                                            <div class="d-inline mt-2 mr-3">
                                                <span class="fa fa-calendar-o text-black font26"></span>
                                            </div>
                                            <div class="d-inline fW">
                                                <div class="meeting-card-title d-block"><%= list.title%></div>
                                                <div class="meeting-card-desc">ID : <%= list.id%></div>
                                            </div>
                                        </div>
                                    </li>
                                    <% }); %>
                               </ul>
                            </div>
                            <div class="tab-pane fade" id="upcoming" role="tabpanel" aria-labelledby="upcoming-tab">
                                <div class="d-none text-center mt-5" id="upcomingLoader">
                                    <span class="fa fa-spinner fa-spin fa-3x text-muted"></span>
                                </div>
                                <ul class="list-unstyled tab-scroll" id="upcomingMeetingList"></ul>
                            </div>
                            <div class="tab-pane fade" id="history" role="tabpanel" aria-labelledby="history-tab">
                               <div class="tab-scroll">
                                   <div class="d-flex">
                                       <button class="btn btn-default mr-2">
                                           07/07/2020
                                           <span class="fa fa-fw fa-caret-down"></span>
                                       </button>
                                       <span class="fa fa-minus font13 text-muted" style="margin-top: 13px;"></span>
                                       <button class="btn btn-default ml-2">
                                           07/07/2020                                           
                                           <span class="fa fa-fw fa-caret-down"></span>
                                       </button>
                                   </div>
                                   <div class="d-flex mt-3 font18 fontb text-secondary text-center" style="font-weight: 500;">
                                        There weren't any meetings between those dates.
                                   </div>
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-12">
                    <div class="card">
                        <div class="card-body meeting-details">
                            <div class="clearfix" id="instantMeeting">
                                <div class="d-block">
                                    <div class="clearfix">Meet Now</div>
                                    <div class="clearfix">Start an instant meeting within a seconds</div>
                                </div>
                                <div class="row mt-4 text-center">
                                    <div class="col-md-2 col-sm-12 col-12">
                                        <a href="" target="_blank" class="btn btn-primary btn-block mb-3">
                                            <span class="fa fa-fw fa-play"></span>
                                            Start
                                        </a>
                                    </div>
                                </div><!--/.row-->
                                <div class="d-block border-top mt-2">
                                    <div class="d-block mt-3">
                                        <div class="font15 font-weight-bold">Start a meeting then invite others.</div>
                                    </div>
                                </div><!--/.d-block-->
                            </div><!--/#instantMeeting-->
                            <div class="clearfix d-none" id="selectedMeeting">
                                <div class="d-block">
                                    <div class="meeting-details-title"></div>
                                    <div class="clearfix">ID : <span class="meeting-details-id"></span></div>
                                </div>
                                <div class="row mt-4 text-center">
                                    <div class="col-md-2 col-sm-12 col-12">
                                        <a href="../join/44" target="_blank" class="btn btn-primary btn-block mb-3">
                                            <span class="fa fa-fw fa-play"></span>
                                            Start
                                        </a>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-12 marT7">
                                        <a href="javscript:void(0)" data-toggle="modal" data-target="#inviteUser">
                                            <span class="fa fa-fw fa-plus"></span>
                                            Invite Users
                                        </a>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-12 marT7 d-none">
                                        <button class="copy text-primary" data-text="Copy Invitation" data-text-copied="COPIED Invitation">
                                            <i class="fa fa-fw fa-copy"></i>
                                            <span>Copy Invitation</span>
                                        </button>
                                    </div>
                                    <div class="col-md-2 col-sm-4 col-12 marT7">
                                        <a href="javascript:void(0)" id="meeting_edit" data-remote="" data-toggle="modal" data-target="#meetingEdit_modal">
                                            <span class="fa fa-fw fa-edit"></span>
                                            Edit
                                        </a>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-12 marT7">
                                        <a href="javascript:void(0)" class="deleteMeeting" data-confirm="ys" data-id="" data-confirm-msg="Do you want to delete metting ?" data-confirm-function="deleteMeeting">
                                            <span class="fa fa-fw fa-trash-alt"></span>
                                            Delete
                                        </a>
                                    </div>
                                </div><!--/.row-->
                                <div class="d-block border-top mt-2" id="invitationText">
                                    <div class="d-block meeting-share-title mt-3"></div>
                                    <div class="d-block meeting-share-dateTime"></div>
                                    
                                    <div class="d-block mt-3">
                                        <div class="font15 font-weight-bold">Please join my meeting from your computer, tablet or smartphone.</div>
                                        
                                        <a href="" target="_blank" class="d-block meeting-share-href"></a>
                                    </div>
                                    <div class="d-block fontb font15 mt-4 mb-3">
                                        Meeting ID : <span class="meeting-share-id"></span>
                                    </div>
                                </div><!--/.d-block-->
                            </div><!--/#selectedMeeting-->
                        </div>
                    </div>
                </div>
            </div><!--./row-->
          </div><!--/.container-->
        </div>
    </div>
  </div>
  <div class="modal fade" id="createMeeting" tabindex="-1" role="dialog" aria-labelledby="newMeetingTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
              <h5 class="modal-title" id="newMeetingTitle">New Meeting</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span class="fa fa-window-close-o" aria-hidden="true"></span>
              </button>
              </div>
              <div class="modal-body">
                  <form action="" method ="post" id="form_createMeeting">
                        <div class="d-block mt-2 mr">
                            <input type='text' class="form-control" name='meetingTitle' id="meetingTitle" autocomplete="off" />
                            <label for="meetingTitle">Meeting Title</label>
                        </div>
                        <div class="row mt-4">
                            <div class="col-md-6 col-sm-6 col-12">
                                <input type="radio" name="meetingType" class="d-inline-flex meetingType" id="meetingRoom" value="normal">
                                <label for="meetingRoom" class="d-inline" style="cursor: pointer;">
                                    <span>Metting Room</span>
                                    <span class="d-block font11 font-weight-light text-muted ml-3">
                                        Feel free to meet. Link never expires.
                                    </span>
                                </label>
                            </div>
                            <div class="col-md-6 col-sm-6 col-12">
                                <input type="radio" name="meetingType" class="d-inline-flex meetingType" id="scheduleMeeting" value="schedule">
                                <label for="scheduleMeeting" class="d-inline" style="cursor: pointer;">
                                    <span>Schedule Metting</span>
                                    <span class="d-block font11 font-weight-light text-muted ml-3">
                                        Meet once and then link expires.
                                    </span>
                                </label>
                            </div>
                            <div class="d-block meetingType_error ml-2"></div>
                        </div><!--/.row-->
                        <div class="row scheduleMeeting_container mt-4 disabled">
                            <div class="col-md-5 col-sm-12 mt-1">
                                <input type='text' class="form-control" name='meetingDate' id="meetingDate" value="" autocomplete="off" />
                                <label for="meetingDate">Date</label>
                            </div>
                            <div class="col-md-3 col-sm-12 mt-1">
                                <select name="meetingTime" class="form-control meetingTime" id="meetingTime">
                                    <option>11:45 PM</option>
                                    <option>12:30 AM</option>
                                    <option>12:00 AM</option>
                                    <option>1:00 AM</option>
                                    <option>1:30 AM</option>
                                    <option>2:00 AM</option>
                                    <option>2:30 AM</option>
                                    <option>3:00 AM</option>
                                    <option>3:30 AM</option>
                                    <option>4:00 AM</option>
                                    <option>4:30 AM</option>
                                    <option>5:00 AM</option>
                                    <option>5:30 AM</option>
                                    <option>6:00 AM</option>
                                    <option>6:30 AM</option>
                                    <option>7:00 AM</option>
                                    <option>7:30 AM</option>
                                    <option>8:00 AM</option>
                                    <option>8:30 AM</option>
                                    <option>9:00 AM</option>
                                    <option>9:30 AM</option>
                                    <option>10:00 AM</option>
                                    <option>10:30 AM</option>
                                    <option>11:00 AM</option>
                                    <option>11:30 AM</option>
                                    <option>12:00 PM</option>
                                    <option>12:30 PM</option>
                                    <option>1:00 PM</option>
                                    <option>1:30 PM</option>
                                    <option>2:00 PM</option>
                                    <option>2:30 PM</option>
                                    <option>3:00 PM</option>
                                    <option>3:30 PM</option>
                                    <option>4:00 PM</option>
                                    <option>4:30 PM</option>
                                    <option>5:00 PM</option>
                                    <option>5:30 PM</option>
                                    <option>6:00 PM</option>
                                    <option>6:30 PM</option>
                                    <option>7:00 PM</option>
                                    <option>7:30 PM</option>
                                    <option>8:00 PM</option>
                                    <option>8:30 PM</option>
                                    <option>9:00 PM</option>
                                    <option>9:30 PM</option>
                                    <option>10:00 PM</option>
                                    <option>10:30 PM</option>
                                    <option>11:00 PM</option>
                                    <option>11:30 PM</option>
                                </select>
                                <label for="meetingTime">Time</label>
                            </div>
                            <div class="col-md-4 col-sm-12 mt-1">
                                <select name="meetingDuration" class="form-control" id="meetingDuration">
                                    <option value="15_minutes">15 Min</option>
                                    <option value="30_minutes" selected>30 Min</option>
                                    <option value="45_minutes">45 Min</option>
                                    <option value="60_minutes">60 Min</option>
                                    <option value="1.5_hours">1.5 H</option>
                                    <option value="2_hours">2 H</option>
                                    <option value="2.5_hours">2.5 H</option>
                                    <option value="3_hours">3 H</option>
                                    <option value="4_hours">4 H</option>
                                    <option value="5_hours">5 H</option>
                                    <option value="6_hours">6 H</option>
                                    <option value="7_hours">7 H</option>
                                    <option value="8_hours">8 H</option>
                                </select>
                                <label for="meetingDuration">Duration</label>
                            </div>
                            <div class="col bg-gray-light mt-3 pl-2 pt-1 pb-2 border-0">
                                The event starts at <span class="meetingTimeTxt"></span> in Kathmadnu time zone.
                            </div>
                        </div><!--/.row-->
                        <div class="d-block mt-4">
                            <button type="submit" class="btn btn-primary ml-3 fR">SAVE</button>
                            <button type="button" class="btn btn-default fR" data-dismiss="modal" aria-label="Close">Cancel</button>
                        </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
  
    <div class="modal fade" id="inviteUser" tabindex="-1" role="dialog" aria-labelledby="inviteUserTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="inviteUserTitle">Invite Users</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span class="fa fa-window-close-o" aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/admin/inviteUsers" method="post" id="form_inviteUser">
                        <div class="d-block">
                            <div class="row">
                                <div class="col-md-6 col-6 pl-4 pt-2"></div>
                                <div class="col-md-6 col-6 text-right">
                                    <input type="text" class="form-control" id="searchInviteUsers" placeholder="Search Users">
                                </div>
                            </div>
                            <div id="inviteUser-scroll">
                                <div class="invitedEmails_error"></div>
                                <table class="table table-hover mt-2 hide" id="inviteUserslist" data-table="dt"
                                    data-dt_search="#searchInviteUsers"
                                    data-dt_entries="#datatableEntries"
                                    data-dt_dropdown_search =""
                                    data-dt_info=""
                                    data-dt_info_txt="User(s)"
                                    data-dt_order_column="0"
                                    data-dt_order_colum_by="desc"
                                    data-dt_nonorder_column="1"
                                    data-dt_filter_url_connect="true"
                                    role="grid">
                                    <thead>
                                        <tr>
                                            <th style="pointer-events: none"></th>
                                            <th class="pl-2">
                                                <input type="checkbox" name="checkall" class="normal" id="dt_checkAll">
                                                <label for="dt_checkAll">All</label>
                                            </th>
                                            <th style="pointer-events: none"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% data.users.forEach((inv_user, index) =>{ %>
                                        <tr>
                                            <td>
                                                <input type="checkbox" name="invite_user_checkbox" id="input_<%=inv_user.username%>" value="<%=inv_user.username%>">
                                                <label for="input_<%=inv_user.username%>"></label>
                                            </td>
                                            <td><%=inv_user.username%></td>
                                            <td><%=inv_user.first_name+" "+inv_user.last_name%></td>
                                        </tr>
                                        <% });%>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <input type="hidden" name="invitedEmails" class="inviteUsersEmail" readonly="true">
                        <input type="hidden" name="selectedMeetingId" id="inviteUser_meetingId" readonly>
                        <input type="hidden" name="selectedMeetingTitle" id="inviteUser_meetingTitle" readonly>
                        <input type="hidden" name="selectedMeetingDate" id="inviteUser_meetingDate" readonly>
                        <input type="hidden" name="selectedMeetingLink" id="inviteUser_meetingLink" readonly>
                        <div class="d-block mt-4">
                            <button type="submit" class="btn btn-primary ml-3 fR">
                                <span class="fa fa-save"></span>
                                SAVE
                            </button>
                            <button type="button" class="btn btn-default fR" data-dismiss="modal">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="meetingEdit_modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="inviteUserTitle">Edit Meeting</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span class="fa fa-window-close-o" aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body">
                    Loading ...
                </div>
            </div>
        </div>
    </div>
  <%-include('../partials/js')-%>
  <script src="/js/listing-js.js"></script>
  <script src="/js/jquery.copiq.min.js"></script>
  
  <script>
    $(function(){
        $('button').copiq({
            parent: '#selectedMeeting',
            content: '#invitationText',
            onSuccess: function($element, source, selection) {
                $('span', $element).text($element.attr("data-text-copied"));
                setTimeout(function() {
                $('span', $element).text($element.attr("data-text"));
                }, 2000);
            }
        });
    });
  </script>
</body>
</html>
