<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%- title %></title>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/vendor/fontawesome-free/css/v4-shims.min.css">
    <link rel="stylesheet" href="/css/main.min.css">
    <link rel="stylesheet" href="/css/jquery-confirm.min.css">
    <link rel="stylesheet" href="/vendor/datatables/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/css/style.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="<% if(loginPage) { %> login-page <% }else{ %> sidebar-mini sidebar-collapse <% } %>">
  <div class="wrapper">
      <%- include('../partials/adminHeader')-%>
      <div class="content-wrapper">
          <div class="content-header">
              <div class="container-fluid">
                  <div class="row mb-2">
                      <div class="col-sm-6">
                          <h1>Users </h1>
                      </div>
                      <div class="col-sm-6">
                      <ol class="breadcrumb float-sm-right">
                          <li class="breadcrumb-item active"><a href="">Users</a></li>
                          <li class="breadcrumb-item d-none"></li>
                      </ol>
                      </div>
                  </div>
              </div>
          </div>
          <div class="content">
            <div class="container-fluid">
              <div class="card">
                <div class="card-body">
                  <div class="clearfix borderBdm paddTB12 text-right">
                    <button type="button" class="btn btn-primary btn-sm fR" data-toggle="modal" data-target="#addNewUser">
                      <span class="fa fa-plus"></span>
                      Add New User
                    </button>
                  </div>
                  <div class="clearfix marT15 fR">
                      <input type="text" class="form-control" id="searchOpr" placeholder="Search">
                  </div>
                  <div class="clearfix marT25">
                    <span class="clearfix" id="dt_info"></span>
                  </div>
                  <div class="table-responsive marT10">
                    <table class="table table-striped table-hover hide" id="devicelist" data-table="dt"
                    data-dt_search="#searchOpr"
                    data-dt_entries="#datatableEntries"
                    data-dt_dropdown_search =""
                    data-dt_info="#dt_info"
                    data-dt_info_txt="Device(s)"
                    data-dt_order_column="0"
                    data-dt_order_colum_by="desc"
                    data-dt_nonorder_column="4"
                    data-dt_filter_url_connect="true"
                    role="grid">
                      <thead>
                        <tr>
                          <th>SN</th>
                          <th>Name</th>
                          <th>Email</th>
                          <th>Mobile No.</th>
                          <th class="no-print">Manage</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% data.users.forEach((list, index) => {%>
                        <tr>
                          <td><%=index + 1%></td>
                          <td><%=list.first_name+ ' '+list.last_name%></td>
                          <td><%=list.email%></td>
                          <td><%=list.mobile_no%></td>
                          <td>
                            <a href="javascript:void(0)" class="btn btn-primary btn-sm" data-remote="/admin/editUsers/<%=list.id%>" data-toggle="modal" data-target="#userEdit_modal">
                              <i class="fa fa-edit"></i>
                            </a>
                            <button class="btn btn-sm btn-danger" data-confirm="ys" data-id=<%=list.id%> data-confirm-msg="Do you want to delete user '<%=list.first_name +' '+ list.last_name%>'?" data-confirm-function="deleteUser" data-toggle="tooltip" title="Delete">
                              <i class="fa fa-trash-alt"></i>
                            </button>
                          </td>
                        </tr>
                        <% });%>
                      </tbody>                   
                    </table>
                  </div>
                </div><!-- /.box-body -->
              </div>
            </div>
          </div>
      </div>
  </div>
  <div class="modal fade" id="addNewUser" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">Add User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span class="fa fa-window-close-o" aria-hidden="true"></span>
                </button>
              </div>
              <div class="modal-body">
                  <form action="" method ="post" id="form_addUsers">
                      <div class="row">
                          <div class="col-md-8 col-xs-12">
                            <div class="row">
                              <div class="col-md-12 col-xs-12 borderB">
                                <strong>Personal Details</strong>
                              </div>
                            <div class="col-md-6 col-xs-12 marT15">
                              <div class="clearfix">
                                <input type='text' class="form-control" name='first_name' id="first_name" autocomplete="off" />
                                <label for="first_name">First name</label>
                              </div>
                            </div><!--./col-->
                            <div class="col-md-6 col-xs-12 marT15">
                              <div class="clearfix mr">
                                <input type='text' class="form-control" name='last_name' id="last_name" autocomplete="off" />
                                <label for="li_name_name">Last name</label>
                              </div>
                            </div><!--/.col-->
                            <div class="col-md-6 col-xs-12 marT15">
                              <div class="clearfix mr">
                                <input type='number' class="form-control" name='mobile_no' id="mobile_no" />
                                <label for="mobile_no">Mobile No.</label>
                              </div>
                            </div><!--/.col-->
                          </div><!--/.row-->
                              
                          </div><!--/.col-->
                          <div class="col-md-4 col-xs-12">
                            <div class="col-12 borderB">
                              <strong>Auth Details</strong> 
                            </div>
                            <div class="clearfix mr marT15">
                              <i class="checking_email fa fa-spinner fa-spin mab" style="display: none"></i>
                              <i class="checking_email fa fa-check mab" style="display: none"></i>
                              <input type='email' class="form-control" name="email" id="email" autocomplete="off" />
                              <label for="email">Email</label>
                            </div>
                            <div class="clearfix mr marT20">
                              <input type='text' class="form-control" name='password' id="user_pass" autocomplete="off" />
                              <label for="user_pass">Password</label>
                            </div><!--/.clearfix-->
                          </div><!--/.col-->
                      </div><!--/.row-->
                      <div class="col mt-3 text-right">
                          <button type="submit" name="addNewMerchant" class="btn btn-primary btn-sm">
                              <span class="fa fa-plus"></span>
                              ADD NEW USER
                          </button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
  <div class="modal fade" id="userEdit_modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="inviteUserTitle">Edit User</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span class="fa fa-window-close-o" aria-hidden="true"></span>
                  </button>
              </div>
              <div class="modal-body">
                  Loading ...
              </div>
          </div>
      </div>
  </div>

<%- include('../partials/js') -%>

<script src="/vendor/datatables/js/dataTables.bootstrap4.min.js"></script>
<script src="/js/listing-js.js"></script>
<script>
  
</script>
</body>
</html>
