<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%- title %></title>
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/vendor/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="/vendor/fontawesome-free/css/v4-shims.min.css">
  <link rel="stylesheet" href="/css/main.css">
</head>

<body class="<% if(currentUser !== 'notLogin' && rel !== 'undefined'){  %>modal-open<% } %>">
  <% if (messages) { %>
      <%- messages -%>
  <% } %>
  <%- include('partials/frontHeader')%>
  <!-- style="min-height: 100vh; background: no-repeat url('img/body.png'); background-size: contain;" -->
  <div class="container mainContent">
    <div class="row mainContainer h-100">
      <div class="col-lg-6 col-md-7 col-sm-12 text-center my-auto">
        <h1>Gosthi is powerful browser-based video  conferencing solution suitable for organization of all sizes</h1>
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8 text-center mt-5">
            Go ahead, video chat with whole team, in fact, invite everyone you know.
            Gosthi is fully end to end encrypted video conferancing solution that
            you can use all day every day.
          </div>
          <div class="col-md-8"></div>
        </div>
      </div><!--/.col-->
      <div class="col-lg-6 col-md-5 col-sm-12 mb-4 my-auto">
        <img src="/img/video-conferance.png" alt="Gosthi Online" width="100%">
      </div>
    </div>
  </div>
  <footer class="footer container-fluid">
    <div class="clearfix text-right mr-5">
     &copy; Copyright 2020 Smart Insights Pvt. Ltd
    </div>
  </footer>
  <% if(currentUser !== 'notLogin' && rel !== 'undefined') {%>
  <div class="modal fade show" id="meetingRefereModal" tabindex="-1" role="dialog"
    aria-labelledby="newMeetingTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="newMeetingTitle">Meetings</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span class="fa fa-window-close-o" aria-hidden="true"></span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container" id="mettingRooms">
            <div class="row">
              <div class="tags col-md-7 mt-2">
                <div>Type :</div>
                <div class="tag filter" data-filter="normal">Rooms</div>
                <div class="tag filter" data-filter="schedule">Schedule</div>
              </div>
              <div class="col-md-5">
                <input class="search" placeholder="Search" id="meetingRoomSearch" autocomplete="off" />
              </div>
            </div>

            <div class="controls d-none">
              <div>Sort by:</div><a class="sort" href="#" data-sort="date">Date</a>
            </div>
            <div class="meeting-search-items d-none border-top pt-2 font18 fontb text-secondary text-center"
              style="font-weight: 500;"></div>
            <div class="list" id="meeting-scroll">
              <% relData.forEach((list, index) => { %>
              <li class="meeting-card row" data-id="<%=list.id%>">
                <div class="col-md-8 col-8">
                  <div class="row">
                    <div class="col-md-2 col-2 mt-2 text-right mt-2">
                      <span class="fa fa-calendar-o text-black font26"></span>
                    </div>
                    <div class="col-md-10 col-10">
                      <div class="meeting-card-title d-block"><%= list.title%></div>
                      <div class="meeting-card-desc">ID : <%= list.meeting_id%></div>
                      <div class="meetingType d-none"><%= list.type%></div>
                      <div class="date d-none"><%= list.meeting_id%></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-4 text-right">
                  <form method="POST" action="checkMeetingOnJoin">
                    <input type="hidden" name="join_meetingId" value="<%=list.meeting_id%>" readonly>
                    <button type="submit" class="btn btn-warning btn-sm mr-3 mt-2">
                      JOIN
                    </button>
                  </form>
                </div>
              </li>
              <%});%>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <% } %>

  <div class="modal fade show" id="signInContainer" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="signinTitle">SIGN IN</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span class="fa fa-window-close-o" aria-hidden="true"></span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/login" method="post" id="form_signIn">
            <div class="d-block">
              <input type="text" name="username" class="form-control" placeholder="Email" autocomplete="off">
            </div>
            <div class="d-block marT25">
              <input type="password" name="password" class="form-control" placeholder="Password" autocomplete="off">
            </div>
            <div class="d-block marT30 mb-2">

              <input type="hidden" name="joinRel" value="<%=rel%>">
              <button type="submit" class="btn btn-block btn-secondary">SIGN IN</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  <% if(relOrError === 'check' || relOrError === 'checkPwd' && rel !== 'undefined'){ %>
  <div class="modal fade show" id="checkGlobalMeet" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        
        <div class="modal-body">
          <form action="/checkMeeting" method="post" id="form_checkGlobal">
            <div class="font16 fontb" style="font-weight: 500;">
              Please enter you name <% if(relOrError === 'checkPwd') { %>and the meeting password<% } %>
            </div>
            <div class="clearfix mt-3">
              <input type="text" name="globalName" class="form-control" placeholder="Name" autocomplete="off">
            </div>
            <div class="clearfix marT25 <% if( relOrError === 'check' ){ %> d-none <% } %>">              <input type="text" name="globalPassword" class="form-control" placeholder="Password" autocomplete="off">
            </div>
            <div class="row marT30 mb-2">

              <input type="hidden" name="meetingType" value="global">
              <input type="hidden" name="meetingId" value="<%=rel%>">
              <div class="col-md-6 col-6 border-right">
                <a href="/" class="btn btn-block btn-info">Cancel</a>
              </div>
              <div class="col-md-6 col-6"><button type="submit" class="btn btn-block btn-warning">OK</button></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <% } %>
  <%-include('partials/frontJs')-%>
  <script src="/vendor/listjs/list.min.js"></script>
  <script src="/js/GS.Front.js"></script>

  <%
    if(currentUser !== 'notLogin' && rel !== 'undefined') {
      if(currentUser.role ==='user'){  
  %>
    <script>
      $("#meetingRefereModal").modal('show');
    </script>
  <%
      }
    }
  %>
  <% if ((messages && relOrError !=='checkPwd' || relOrError === 'rel') && currentUser === 'notLogin' && relOrError !== 'error' ) { %>
    <script>
      $("#signInContainer").modal('show');
    </script>
  <% 
    }
  if(relOrError === 'check' || relOrError === 'checkPwd' && rel !== 'undefined'){
  %>
    <script>
      $("#checkGlobalMeet").modal('show');
      $(".modal-backdrop.in").css('opacity', '1');
    </script>
  <% } %>
    <script>
      if (performance.navigation.type == 2) {
        location.reload(true);
      }
    </script>
</body>

</html>
