<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%- title %></title>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/vendor/fontawesome-free/css/v4-shims.min.css">
    <link rel="stylesheet" href="/vendor/scrollbar/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="main <% if(loginPage) { %> login-page <% }else{ %> sidebar-mini <% } if(currentUser !== 'notLogin' && rel !== 'undefined'){  %>modal-open<% } %>">
  <div class="container">
    <div class="row">
      <!-- <img src="/img/indexpage.png" width="100%"> -->

      <div class="col-md-8 col-xs-12">
        <img src="/img/right.png" width="70%">
      </div>
      <div class="col-md-4 col-xs-12">
        <div class="popup-container text-right">
          <% if (currentUser != 'notLogin') { %>
            <div class="clearfix marT15 marB30">
              Welcome, <%-currentUser.first_name-%>
              <a href="/logout" class="btn btn-danger btn-xs">
                <span class="fa fa-power-off"></span>
                Logout
              </a>
            </div>
          <%} else{ %>
          <label class="popup-button" for="login-popup"><img class="float-right" src="/img/login.png" width="150px"></label>
          <input type="checkbox" id="login-popup" <% if ((messages && currentUser == 'notLogin') || rel !== 'undefined') { %> checked <% } %> >
          <%}%>
          <div class="popup">
            <label for="login-popup" class="transparent-label"></label>
            <div class="popup-inner">
              <div class="popup-title">
                <h6>Login</h6>
                <label for="login-popup" class="popup-close-btn">
                  <span class="fa fa-times"></span>
                </label>
              </div>
              <% if (messages) { %>
                <%- messages -%>
              <% } %>
              <div class="popup-content">
                <form action="/login" method="POST">
                  <ul>
                    <li>
                      <input type="text" name="username" placeholder="Email" autocomplete="off">
                    </li>
                    <li>
                      <input type="password" name="password" class="marT10" placeholder="Password" autocomplete="off">
                    </li>
                    <li>
                      <input type="hidden" name="joinRel" value="<%=rel%>">
                      <button type="submit" class="marT15">Log in</button>
                    </li>
                  </ul>
                </form>
              </div>
            </div>
          </div>
        </div><!--/.popup-container-->
        <div class="clearfix">
          <img src="/img/logo.png" width="100%">
        </div>
      </div>
    </div>
  </div>
  <%-relOrError%>
  <% if(currentUser !== 'notLogin' && rel !== 'undefined' && relOrError === '') {%>
  
  <div class="modal fade show in" id="meetingRefereModal" tabindex="-1" role="dialog" aria-labelledby="newMeetingTitle" aria-hidden="true" style="display: block;">
    <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="newMeetingTitle">Meetings</h5>
              </div>
              <div class="modal-body">
                <div class="container" id="mettingRooms">
                  <div class="row">
                    <div class="tags col-md-7 mt-2">
                      <div>Type :</div>
                      <div class="tag filter" data-filter="normal">Rooms</div>
                      <div class="tag filter" data-filter="schedule">Schedule</div>
                    </div>
                    <div class="col-md-5">
                      <input class="search" placeholder="Search" id="meetingRoomSearch" autocomplete="off" />
                    </div>
                  </div>
                  
                  <div class="controls d-none">
                    <div>Sort by:</div><a class="sort" href="#" data-sort="date">Date</a>
                  </div>      
                  <div class="meeting-search-items d-none border-top pt-2 font18 fontb text-secondary text-center" style="font-weight: 500;"></div>
                  <div class="list" id="meeting-scroll">
                    <% relData.forEach((list, index) => { %>
                      <li class="meeting-card row d-none" data-id="<%=list.id%>">
                        <div class="col-md-8 col-8">
                          <div class="row">
                            <div class="col-md-2 col-2 mt-2 text-right mt-2">
                                <span class="fa fa-calendar-o text-black font26"></span>
                            </div>
                            <div class="col-md-10 col-10">
                                <div class="meeting-card-title d-block"><%= list.title%></div>
                                <div class="meeting-card-desc">ID : <%= list.id%></div>
                                <div class="meetingType d-none"><%= list.type%></div>
                                <div class="date d-none"><%= list.id%></div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4 col-4 text-right">
                          <a href="https://15.206.115.114/<%= list.title %>" target="_blank" class="btn btn-warning btn-sm mr-3 mt-2">
                            JOIN
                          </a>
                        </div>
                      </li>
                    <%});%>
                  </div>
                
                </div>
              </div>
          </div>
      </div>
  </div>
  <div class="modal-backdrop fade show"></div>
  <% } %>
  <%-include('partials/js')-%>
  <script src="/vendor/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
  <script src="/vendor/listjs/list.min.js"></script>
  <script>
    function customScroll(){
        $("#meeting-scroll").mCustomScrollbar({
            theme : "minimal-dark"
        });
      }
    $(function(){
      
			$(window).on("load",function(){
        customScroll();
        $(".meeting-card").removeClass("d-none");
      });
    });
      // Create the List
      var options = {
        valueNames: [ 'meeting-card-title', 'date', 'meetingType' ]
      };

      // Run the list with default sort
      var mettingRooms = new List('mettingRooms', options);
      mettingRooms.sort("meeting-card-title", {
        order: "asc"
      })

      // Create Filters
      $('.filter').on('click',function(){
        var $q = $(this).attr('data-filter');
        if($(this).hasClass('active')){
          mettingRooms.filter();
          customScroll();
          $('.filter').removeClass('active');
        } else {
          customScroll();
          mettingRooms.filter(function(item) {
            return (item.values().meetingType == $q);
          });
          $('.filter').removeClass('active');
          $(this).addClass('active');
        }
      });

      // Return # of items
      var $count = $('.meeting-search-items')
      $count.append(mettingRooms.size());
      mettingRooms.on('searchComplete', function(){
        customScroll();
        var totalMeetingRooms = mettingRooms.update().matchingItems.length;
        if(totalMeetingRooms === 0){
          $count.removeClass('d-none').html("There aren't any meetings as you search");
        }else{
          $count.addClass('d-none');
        }
      });

    if(performance.navigation.type == 2){
      location.reload(true);
    }
  </script>
</body>
</html>
