<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%- title %></title>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="main <% if(loginPage) { %> login-page <% }else{ %> sidebar-mini <% } if(currentUser !== 'notLogin' && rel !== 'undefined'){  %>modal-open<% } %>">
  <div class="container">
    <div class="row">
      <!-- <img src="/img/indexpage.png" width="100%"> -->

      <div class="col-md-8 col-xs-12">
        <img src="/img/right.png" width="70%">
      </div>
      <div class="col-md-4 col-xs-12">
        <div class="popup-container text-right">
          <% if (currentUser != 'notLogin') { %>
            <div class="clearfix marT15 marB30">
              Welcome, <%-currentUser.first_name-%>
              <a href="/logout" class="btn btn-danger btn-xs">
                <span class="fa fa-power-off"></span>
                Logout
              </a>
            </div>
          <%} else{ %>
          <label class="popup-button" for="login-popup"><img class="float-right" src="/img/login.png" width="150px"></label>
          <input type="checkbox" id="login-popup" <% if ((messages && currentUser == 'notLogin') || rel !== 'undefined') { %> checked <% } %> >
          <%}%>
          <div class="popup">
            <label for="login-popup" class="transparent-label"></label>
            <div class="popup-inner">
              <div class="popup-title">
                <h6>Login</h6>
                <label for="login-popup" class="popup-close-btn">
                  <span class="fa fa-times"></span>
                </label>
              </div>
              <% if (messages) { %>
                <%- messages -%>
              <% } %>
              <div class="popup-content">
                <form action="/login" method="POST">
                  <ul>
                    <li>
                      <input type="text" name="username" placeholder="Username" autocomplete="off">
                    </li>
                    <li>
                      <input type="password" name="password" class="marT10" placeholder="Password" autocomplete="off">
                    </li>
                    <li>
                      <input type="text" name="joinRel" value="<%=rel%>">
                      <button type="submit" class="marT15">Log in</button>
                    </li>
                  </ul>
                </form>
              </div>
            </div>
          </div>
        </div><!--/.popup-container-->
        <div class="clearfix">
          <img src="/img/logo.png" width="100%">
        </div>
      </div>
    </div>
  </div>
  <% if(currentUser !== 'notLogin' && rel !== 'undefined') {%>
  
  <div class="modal fade show in" id="meetingRefereModal" tabindex="-1" role="dialog" aria-labelledby="newMeetingTitle" aria-hidden="true" style="display: block;">
    <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
              <h5 class="modal-title" id="newMeetingTitle">Meetings</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span class="fa fa-window-close-o" aria-hidden="true"></span>
              </button>
              </div>
              <div class="modal-body">
                  <ul class="list-unstyled">
                    <li></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
  <div class="modal-backdrop fade show"></div>
  <% } %>
  <%-include('partials/js')-%>
  <script>
    if(performance.navigation.type == 2){
      location.reload(true);
    }
  </script>
</body>
</html>
