<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/vendor/fontawesome-free/css/v4-shims.min.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <%- include('partials/frontHeader')%>
    <div class="container mt-5">
        <div class="row align-items-center">
            <div class="col-md-4 col-sm-10 col-12 mx-auto mt-5 text-center">
                <div class="clearfix font18 text-left border-bottom pl-2 pr-2 mt-4">
                    <%= data.title %>
                </div>
                <div class="clearfix mt-3">
                    <span class="fa fa-spinner fa-spin"></span> Waiting for host to start meeting.
                </div>
                <div class="clearfix card pt-2 pb-2 mt-3">
                    <div class="clearfix font18">
                        ID : <%= data.meeting_id %>
                    </div>
                    <% if(data.type === 'schedule'){ %>
                    <div class="clearfix">
                        <%=data.meeting_date%>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
  <%-include('partials/frontJs')-%>
  <script src="/js/GS.Front.js"></script>
</body>
</html>